.experience__title {
  display: flex;
  align-items: center;
}

.experience__icon {
  width: 30px;
  height: auto;
}

.experience__span {
  font-weight: 500;
  margin-left: 15px;
}

.experience__list {
  margin-left: 8px;
  padding-bottom: 15px;
  border-left: 2px solid var(--muted);
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.experience__item {
  position: relative;
  top: 15px;
}

.experience__item::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 4px;
  left: -49px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--accent);
}

.experience__company {
  margin-top: 0;
  color: var(--accent);
  font-weight: 500;
}

.experience__description {
  font-size: 14px;
  font-weight: 300;
}
